/** @format */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #040c18;
  font-family: "Manrope";
  .gradient__bg {
    background: radial-gradient(
      circle at 1% 5%,
      rgba(0, 40, 83, 0.8) 0%,
      rgba(4, 12, 24, 0.8) 25%
    );
    /* height: 100vh; */
    /* width: 100vw; */
  }
}
.app {
  display: flex;
}
canvas {
  position: absolute;
}

.createAccountButton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: "Playfair Display";
  font-size: 1rem;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-user-select: none;
  padding: 8px 8px;
  user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.createAccountButton:disabled {
  pointer-events: none;
}

.createAccountButton:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.createAccountButton:active {
  box-shadow: none;
  transform: translateY(0);
}
.chatbotPage {
  text-align: center;
}

.webChatbotDoodle {
  width: 28rem !important;
}

.chatRightSide h1,
.chatRightSide p {
  color: white;
  font-weight: 700;
  background: -webkit-linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  background-clip: "text";
  -webkit-text-fill-color: transparent;
}
.infoContainer {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.chatInfoContainer {
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  padding: 2rem 2rem 0.5rem 2rem;
  align-items: center;
  justify-content: center;
}
.chatbotInformation {
  text-align: center;
}
.chatMain {
  margin-top: 1rem;
  max-height: 12rem;
  overflow-y: scroll;
  overflow-wrap: break-word;
}
.chatMessageSend {
  margin-top: 1rem;
}
.chatMain::-webkit-scrollbar {
  width: 5px;
  background-color: #dfe6e9;
}

.chatMain::-webkit-scrollbar-track {
  border: 5px solid white;
  border-color: #cccccc;
  background-color: #b2bec3;
}

.chatMain::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  border-radius: 10px;
}

.chatbotdoodle {
  width: 15rem;
}
.chatleftparagraphcontainer {
  display: inline-block;
  padding: 1rem;
}
.chatleftparagraph {
  margin-right: 1rem;
  color: white;
  padding: 1rem;
}

.chatbotPNG {
  width: 200px;
  position: relative;
  top: 1rem;
}
.chatbotMessage {
  margin-left: 1rem;
}
.userMessage {
  text-align: left;
  margin-left: 1rem;
}
.chatbotMessage > p,
.userMessage > p {
  margin-bottom: 0.5rem;
  display: inline-block;
  max-width: 50%;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: #d3f2f5;
  color: #1a1a1a;
  font-weight: 500;
  text-align: justify;
}

@media screen and (max-width: 820px) {
  .leftSide {
    display: none;
  }
  .rightSide {
    min-height: 100%;
    border-radius: 0 !important;
  }
  .registerBox {
    grid-template-columns: 1fr !important;
  }
  .chatLeftSide {
    display: none;
  }
  .infoContainer {
    flex-direction: column;
  }
  .chatRightSide h1 {
    font-size: 1.75rem;
  }
  .chatRightSide > p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 821px) {
  .chatRightSide h1 {
    font-size: 3.875rem;
  }
  .chatRightSide > p {
    font-size: 2.375rem;
  }
  .chatleftparagraph {
    font-size: 1.3rem !important;
    margin-right: 1rem;
  }
  .chatButtonContainer > Button {
    padding: 0.7rem 1.3rem;
    font-size: 1.1rem;
  }
  .chatbotPNG {
    width: 350px;
  }
  .chatMain {
    max-width: 100%;
  }
  .chatMessageSend {
    width: 100%;
  }
  .chatbotMessage > p,
  .userMessage > p {
    font-size: 1.2rem;
  }
  .chatLeftSide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chatRightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .chatRightSide > * {
    text-align: right;
  }
}

@media screen and (min-width: 1400px) {
  .webChatbotDoodle {
    min-width: 38rem;
  }
}
